# Python
.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Node.js
node_modules/
backend/node_modules/

# Playwright
test-results/
playwright-report/

# DB (локальная база)
backend/db.json

# IDE
.idea/
.DS_Store

# Env
.env
backend/.env
*.pem
*.key
